<div class="add-to-server-container">
  <h1>TracePlayer — отслеживание игроков</h1>

  <p>
    <strong>TracePlayer</strong> — это AMXX-плагин для CS 1.6, который хранит историю ников игроков, а также отображает информацию о банах в Steam и Fungun ECD <mark>(в разработке)</mark>.
  </p>

  <h2>Функциональность</h2>
  <ul>
    <li>Сохраняет все использованные игроком ники.</li>
    <li>Отслеживает IP-адреса и время заходов.</li>
    <li>Интеграция с Steam API — отображение статуса банов игрока</li>
    <li>Интеграция с Fungun API — отображение статуса проверок на Fungun ECD <mark>(в разработке)</mark></li>
    <li>Просмотр информации о игроке прямо на сервере либо через веб-интерфейс</li>
  </ul>

  <h2>Как присоединиться</h2>
  <ol>
    <li>Свяжитесь с автором, чтобы получить ваш уникальный <strong>API-ключ</strong>.</li>
    <li>Установите 2 AMXX-плагина <strong>TracePlayer API</strong> и <strong>TracePlayer Core</strong> на ваш сервер. (Для работы плагина необходим модуль EasyHttp).</li>
  </ol>

  <p>После установки плагина и подключения к системе, информация о ваших игроках начнёт автоматически сохраняться и станет доступна через веб-интерфейс.</p>

  <h2>Условия</h2>
  <ul>
    <li>Плагин был создан для отслеживания игроков на <strong>HNS</strong> серверах. Если вы хотите установить всю систему отдельно, то свяжитесь с автором</li>
  </ul>

  <div class="contact-box">
    <p><strong>Связаться с автором для получения API-ключа:</strong></p>
    <p>Telegram: <a href="https://t.me/andreybatk" target="_blank">&#64;andreybatk</a></p>
  </div>
</div>
