<div class="add-to-server-container">
  <h1>TracePlayer — отслеживание игроков</h1>

  <p>
    <strong>TracePlayer</strong> — это AMXX-плагин для CS 1.6, который хранит историю ников игроков, а также отображает информацию о банах в Steam и Fungun ECD.
  </p>

  <h2>Функциональность</h2>
  <ul>
    <li>Сохраняет все использованные игроком ники.</li>
    <li>Отслеживает IP-адреса и время заходов.</li>
    <li>Интеграция с Steam API — отображение статуса банов игрока</li>
    <li>Интеграция с Fungun API — отображение статуса проверок на Fungun ECD</li>
    <li>Просмотр информации о игроке прямо на сервере либо через веб-интерфейс</li>
  </ul>

  <h2>Как присоединиться</h2>
  <ol>
    <li>Свяжитесь с автором, чтобы получить ваш уникальный <strong>API-ключ</strong>.</li>
    <li>Размесите на хостинге 2 файла <strong>player.php</strong> (необходим API-ключ, <a class="custom-link" href="https://steamcommunity.com/dev/apikey" target="_blank">STEAM-API-ключ</a>, <a class="custom-link" href="https://fungun.net/shop/?p=show&id=150" target="_blank">Fungun-API-ключ</a>) и <strong>player.css</strong>.</li>
    <li>Установите 2 AMXX-плагина: <strong>TracePlayer API</strong> для работы плагина необходимо установить модуль EasyHttp и прописать API-ключ; <strong>TracePlayer Core</strong> для работы плагина необходимо указать ссылку на файл <strong>player.php</strong></li>
  </ol>

  <p>После установки плагина и подключения к системе, информация о ваших игроках начнёт автоматически сохраняться и станет доступна через веб-интерфейс.</p>

  <h2>Условия</h2>
  <ul>
    <li>Плагин был создан для отслеживания игроков на <strong>HNS</strong> серверах. Если вы хотите установить всю систему отдельно, то свяжитесь с автором.</li>
  </ul>

  <div class="contact-box">
    <p><strong>Связаться с автором для получения API-ключа:</strong></p>
    <p>Telegram: <a class="custom-link" href="https://t.me/andreybatk" target="_blank">&#64;andreybatk</a></p>
  </div>
</div>
