<div class="admin-container">

  <h2>Управление API-ключами</h2>

    <label class="tt-control-label mb16">
    <input class="tt-input" [(ngModel)]="serverIp" placeholder="Введите IP сервера" />
    <button class="btn" (click)="addApiKey()">Добавить</button>
    </label>
  
  <h2>Обновить SteamId64 у игроков</h2>
    <button class="btn" (click)="updateSteamId64()">Обновить</button>

  <div *ngIf="message" class="message">{{ message }}</div>

  <h3>Список серверов</h3>
  <ul class="ip-list">
    <li class="ip-item" *ngFor="let ip of serverIps">
      {{ ip }}
      <button class="btn btn-danger btn-custom" (click)="deleteApiKey(ip)">Удалить</button>
    </li>
  </ul>
</div>
