<div class="admin-container">
  <h2>Управление API-ключами</h2>

   <label class="tt-control-label mb16">
    <input class="tt-input" [(ngModel)]="serverIp" placeholder="Введите IP сервера" />
    <button class="btn" (click)="addApiKey()">Добавить</button>
   </label>

  <div *ngIf="message" class="message">{{ message }}</div>

  <h3>Список серверов</h3>
  <ul>
    <li class="ip-item" *ngFor="let ip of serverIps">
      {{ ip }}
      <button class="btn btn-danger" (click)="deleteApiKey(ip)">Удалить</button>
    </li>
  </ul>
</div>
